{% extends "base.html" %}
{% block content %}

<h2>Add a movie to the database!</h2>
<body>
    <form method="post" action="/step1/">
        <table>
            <tr>
                <label><td>
                    <div>Title</div>
                    <input type="text" name="title" value="{{title}}">
                </label></td>
            </tr>
            <tr>
                <label><td>
                    <div>Year (Optional; Useful for if there are multiple movies of the same name)</div>
                    <input type="text" name="year">
                <label></td>
            </tr>
        </table>
        <br>
        <div class="error">{{error}}</div>
        <div><a href={{link}}>{{error2}}</a></div>
        <br>
        <input type="submit">
    </form>
</body>



{% endblock %}
