{% extends "base.html" %}
{% block content %}
<h2>Here is the database sorted by {{sort}}</h2>
<h3 class='main'>Returning {{count}} results</h3>
<table><ol>
    <tr class="header">
        <td class = "table_count"></td>
        <td class = "table_year">Year</td>
        <td class = "table_title">Title</td>
        <td class = "table_director">Director</td>
        <td class = "table_country">Country</td>
        <td class = "table_genre">Genre</td>
        <td class = "table_rating">I</td>
        <td class = "table_rating">M</td>
        <td class = "table_rating">T</td>
        <td class = "table_rating">E</td>
        <td class = "table_rating">S</td>
        <td class = "table_rating">Avg</td>
    </tr>
        {% for entry in entries %}
            <tr>
                    <td><span class="mycount"></span></td>
                    <td>{{entry.year}}</td>
                    <td class="title"><a href="/movie/{{entry.key().id()}}">{{entry.title}}</a></td>
                    <td>{{entry.director}}</td>
                    <td>{{entry.country}}</td>
                    <td>{{entry.genre}}</td>
                    <td>{{entry.imdb}}</td>
                    <td>{{entry.meta}}</td>
                    <td>{{entry.tmdb}}</td>
                    <td>{{entry.ebert}}</td>
                    {% if entry.slant == "N/A" %}
                    <td>{{entry.slant}}</td>
                    {% else %}
                    <td>{{entry.slant}}/{{entry.slant_max}}</td>
                    {% endif %}
                    <td class="rating">{{entry.average}}</td>
                </li>
            </tr>
        {% endfor %}
</ol></table>
<br>
<a class = "button" href="/">Return to homepage</a>
<a class = "button" href="/search/">Search again!</a>
{% endblock %}
