{% extends "base.html" %}
{% block content %}

<h2>Welcome to the KMDB!</h2>
<h4>Current 10 Best Films:</h4>
<table>
    <tr class="header">
        <td></td>
        <td>Year</td>
        <td>Title</td>
        <td>Director</td>
        <td>Country</td>
        <td>Average rating</td>
    </tr>
        {% for entry in entries %}
            <tr>
                    <td><span class="mycount"></span></td>
                    <td>{{entry.year}}</td>
                    <td class="title"><a href="/movie/{{entry.key().id()}}">{{entry.title}}</a></td>
                    <td>{{entry.director}}</td>
                    <td>{{entry.country}}</td>
                    <td>{{entry.average}}</td>
            </tr>
        {% endfor %}
</table>
<table>
    <h4>Most Recent Entries:</h4>
        {% for new in newest %}
            <tr>
                <td>{{new.year}}</td>
                <td class="title"><a href="/movie/{{new.key().id()}}">{{new.title}}</a></td>
                <td>{{new.director}}</td>
                <td>{{new.average}}</td>
            </tr>
        {% endfor %}
</table>
<br>

{% endblock %}
