{% extends "base.html" %}
{% block content %}

<h2>Look up a movie!</h2>
<h3>Use any or all fields!</h3>
<h4>
    Please note queries must be exact! <br>
    Results will be returned sorted by rating
</h4>
<body>
    <form method="post">
        <table>
            <tr>
                <label><td>
                    <div>Title</div>
                    <input type="text" name="title">
                </label></td>
                <label><td>
                    <div>Year</div>
                    <input type="text" name="year">
                </label></td>
                <label><td>
                    <div>Director</div>
                    <input type="text" name="director">
                </label></td>
            </tr>
        </table>
        <br>
        <div class="error">{{error}}</div>
        <br>
        <input type="submit">
    </form>
</body>




{% endblock %}
